/** @format */

html body {
    margin: 0;
    background-color: #94d1be;
}

#container {
    background-color: #94d1be;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.btn {
    background-color: #94d1be;
    margin-bottom: 29px;
}

.btn:hover {
    transform: scale(1.1);
    background-color: #283d3b;
}

#output {
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding: 3%;
}

#score-container {
    display: flex;
    justify-content: space-evenly;
}

#score-box {
    border: 2px solid #283d3b;
    padding: 10%;
}

h3 {
    margin-top: -100px;
    text-align: center;
    font-size: xx-large;
}

#player-score {
    font-size: 3.5em;
    text-align: center;
    font-weight: bolder;
}

#computer-score {
    font-size: 3.5em;
    text-align: center;
    font-weight: bolder;
}